@import '../../styles/colors';

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;

  .logo {
    margin-bottom: 30px;
    width: 250px;
  }
  
  .actions {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;

    .link {
      &:hover {
        text-decoration: none;
      }

      .btnTwitter {
        background-color: $twitter;
      }
    }
  }
}
