@mixin backdrop {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.loader {
  @include backdrop();
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 2;

  .loaderIcon {
    z-index: 1;
  }

  &::after {
    background: rgba(0, 0, 0, 0.5);
    content: '';
    @include backdrop();
    position: absolute;
  }
}
