SPOTIFY_CLIENT_ID=undefined
SPOTIFY_CLIENT_SECRET=undefined
SPOTIFY_REDIRECT_URI=undefined
SPOTIFY_STATE=undefined
MUSIXMATCH_APIKEY=undefined
SPOTIFY_REFRESH_CREDENTIALS=undefined
AUTH_SECRET=undefined
MONGO_DB=undefined
SPOTIFY_BASE_API=undefined
MUSIXMATCH_BASE_API=undefined
LIMIT_SONGS=undefined
NEXT_PUBLIC_APP_VERSION=undefined
