@import '../../styles/colors';

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  margin-bottom: 30px;
  width: 250px;
}

.version {
  color: #123837;
  opacity: 0.5;
}
