@import '../../styles/colors';

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 95vh;

  .logo {
    margin-bottom: 30px;
    width: 250px;
  }
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-top: 5%;
}
